@page {
    size: A4; /* Change from the default size of A4 */
    margin: 1.5cm; /* Set margin on each page */
}

.page {
    display: flex;
    font-size: 10px;
    width:480pt;
    // margin: 10mm auto;
    flex-direction: column;
    .info-invoice {
        display: flex;
        flex-direction: row;
        column-gap: 10;
        justify-content: space-between;
        .info {
            display: flex;
            flex-direction: column;
        }
        .invoice {
            display: flex;
            flex-direction: column;
        }
    }
}
