ariadne==0.11.0
autopep8==1.5.2
bcrypt==3.1.7
DateTime==4.3
demjson==2.2.4
Flask==1.1.2
Flask-Cors==3.0.8
Flask-Mail==0.9.1
graphql-core==3.0.5
nested-lookup==0.2.21
PyJWT==1.7.1
python-dateutil==2.8.1
requests==2.23.0
simplejson==3.17.0
urllib3==1.25.9
XlsxWriter==1.2.9
psycopg2==2.8.5
numpy==1.18.4
pandas==1.0.3