.header {
    .company-name {
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
    }
    .address {
        // font-size: 1.0rem;
        text-align: center;
    }
}

