li {
    font-size: 2rem;
    width: 300px;
    margin: 4px;
    padding: 4px;
    list-style: none;
}
.midlaner {
    background-color: #eeeeee;
}
.toplaner {
    background-color: #ffea00;
}
.my-class1 {
    color: red;
}
body {
    padding-top: 0px;
    padding-left: 30px;
}
