html {
    scroll-behavior: smooth;
    body {
        font-size: 16px;
    }
}

// To appear all paginators of prime react at left side
.p-paginator {
    text-align: left !important;
}

// In mobile device disable page refresh from pull down scroll
body {
    overscroll-behavior-y: contain;
}

.generic-dialog {
    font-size: 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    .select-fin-year {
        margin-top: 0.3rem;
        width: 95%;
        color: gray;
        font-size: 0.8rem;
    }
    // .rw-widget-input and .rw-combobox are react-widgets.Combobx classes. These changes are necessary to compensate the input margin-top:0.2rem
    .rw-widget-input {
        margin-top: 0;
    }

    .rw-list {
        max-height: 10rem;
    }

    .rw-combobox {
        margin-top: 0.2rem;
        // color:red;
    }

    .x-set-title {
        color: blue;
        font-size: 1rem;
    }

    input[type='checkbox'] {
        width: 1.2em;
    }

    input,
    select {
        width: 100%;
        margin-top: 0.3rem;
        height: 2rem;
    }

    .error {
        color: red;
    }

    .x-error {
        margin: 0;
        small {
            color: red;

            ul {
                min-height: 15px;
                margin: 0px;
                padding-top: 3px;
                padding-left: 1.5em;
            }
        }
    }

    label {
        font-weight: bold;
    }
}

.common-text-select {
    input,
    select {
        // width: 100%;
        margin-top: 0.3rem;
        height: 2rem;
    }
}

// Following works in PrimeReact
.p-treetable-tbody,
.p-datatable-tbody {
    tr {
        td {
            padding: 6px !important;
            padding-right: 8px !important;
            padding-left: 4px !important;
            font-size: 0.8rem !important;

            border: 0px transparent lightgray;
            i {
                color: dodgerblue;
                font-size: 0.5rem !important;
            }
            button {
                // height: 10px!important;
                max-height: 12px !important;
            }
        }
    }
}

.p-inputnumber-input {
    width: 100%;
    text-align: end;
    background-color: transparent!important;
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;
}

//All material-table reports
// .MuiTableCell-root {
//     font-family: Verdana, Geneva, Tahoma, sans-serif !important;
//     padding: 0px !important;
//     padding-left: 8px !important;
//     padding-right: 4px !important;
//     border: 0.5px solid lightgrey;
//     font-size: 0.8rem !important;
// }

// material table header background color
// th.MuiTableCell-root.MuiTableCell-head {
//     color: white;
//     background-color: dodgerblue;
// }

// Reducing left gap in all toolbars in material-table
// .MuiToolbar-gutters {
//     padding-left: 8px !important;
// }