.hrms-grid {
    font: 0.8em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    border: 2px solid green;
    padding: 1em;

    .error {
        color: red;
    }

    .x-error {
        margin: 0;

        small {
            color: red;

            ul {
                min-height: 15px;
                margin: 0px;
                padding-top: 3px;
                padding-left: 1.5em;
            }
        }
    }

    .x-set {
        // >div {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;  
            
            .declaration {
                grid-column: 1/4;
            }

           
            .notes {
                grid-column: 1/4;
               textarea {
                   width:100%;
                   height: 5em;
               }
            }
            .signature {
                grid-column: 3/4;
                margin-top:4em;
                float:right;
            }
            .info-file-upload{
                grid-column:3/4;
            }

            > div {
                margin-right:4em;
            }

            .full-span{
                grid-column: 1/4;
            }
            
        // }
    }

    .page-title {
        font-size: 1.2em;
        line-height: 2em;
        color: magenta;
        grid-column: 1/4;
    }
    .page-sub-title {
        font-weight: bold;
        grid-column: 1/4;
        margin-bottom: 1em;
    }

    

    .x-form-title {
        font-size: 1.5em;
        font-weight: bold;
        color: green;
        vertical-align: middle;
        line-height: 2em;
        grid-column: 2/4;
    }
    
}

.basic-grid-1 {
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    border: 2px solid green;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .2em;
    margin: 2em;
    
    >div {
        margin-left: 1em;        
    }
    

    .error {
        color: red;
    }

    .x-error {
        margin: 0;

        small {
            color: red;

            ul {
                min-height: 15px;
                margin: 0px;
                padding-top: 3px;
                padding-left: 1.5em;
            }
        }
    }

    .x-form-title {
        font-size: 1.5em;
        grid-column: span 2;
        font-weight: bold;
        color: green;
        justify-self:flex-start;
        margin: 1em;
    }

    .x-set {
       border: 1px solid gainsboro;
       width: 85%;
       padding: 1em;
    }

    .x-submit {
        margin: .5em .5em .5em 0;
    }
}