@media screen {
    .container {
        display: none;
    }
}
@media print {
    .container {
        // visibility: visible;
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }
}

// html,
// body {
//     margin: 10px;
// }
