div.c1 {
  position: relative;
  .d1 {
    background-color: red;
    width: 200px;
    height: 200px;
    width: 100%;
  }
  .d2 {
    background-color: blue;
    width: 200px;
    height: 200px;
    display: inline-block;
    width: 100%;
  }
  .d3 {
    
    background-color: rgb(0, 255, 255);
    width: 100%;
    height: 200px;
    
    
  }
  .d4-transformed {
    background-color: yellow;
    width: 10em;
    height: 3em;
    border-radius: .8em;
    display: inline-block;
    position: fixed;
    z-index: 1000;
    top:1em;
    right: 1em;
    border: 1px solid green;
    // transform: translate(-50%, -50%);
    label {
      position: relative;
      opacity: 1;
      color:blue;
      margin-top: 3em;
      margin-left: 1.5em;
      font-weight: bold;
      font-size: 1.2em;
    }
  }
  .d4-normal {
    // background-color: beige;
    // width: 200px;
    // height: 200px;
    display: none;
  }
  .d5 {
    background-color: greenyellow;
    width: 200px;
    height: 200px;display: inline-block;
    position: absolute;
    
  }
  .d6 {
    background-color: yellow;
    width: 200px;
    height: 200px;
  }
  .d7 {
    background-color: magenta;
    width: 200px;
    height: 200px;
  }
  .d8 {
    background-color: palevioletred;
    width: 200px;
    height: 200px;
  }
}
