<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="{{url_for('static', filename='bill-template1.css', _external= True) }}"
            rel="stylesheet"
            type="text/css"
        />
    </head>
    <body>
        <div class="container">
            <div class="company-info-tax-invoice">
                <div class="company-info">
                    <div class="company-name">{{companyInfo.name}}</div>
                    <br/>
                    <div class="address-details">
                        {{companyInfo.address1}} {{companyInfo.address2}}
                        <b>Pin:</b> {{companyInfo.pin}}
                        <b>Phone:</b>{{companyInfo.phone}}
                        <b>Email:</b> {{companyInfo.email}}
                        <b>GSTIN:</b> {{companyInfo.gstin}}
                        <b>PAN:</b> {{companyInfo.pan}}
                        <b>WEB:</b> {{companyInfo.web}}
                    </div>
                </div>
                <div style='width: 150px;'></div>
                <div class="tax-invoice">
                    <div>Tax invoice</div>
                    <div><b>Inv no:</b> {{invoice.refNo}}</div>
                    <div><b>Date:</b>{{invoice.tranDate}}</div>
                </div>
            </div>
        </div>
    </body>
</html>
